.contacto{
    width: 100%;
    display: flex;
    font-size: 20px;
}

.formRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.formLeft{
    @extend .formRight;
    padding: 50px;
}

.formLeft div{
    display:flex;
    margin:10px
}

.formLeft div input{
    width: 100%;
    height:100px;
    
}

.drummer{
    width: 500px;
    height: 500px;
}

.contacto button{
    background-color: map-get($colors, tertiary);
    width: 100px;
    height: 40px;
    font-size: 20px;
}