

header{
    width: 100% ;
    background-color: map-get($colors, secondary);;
    display: flex;
    align-items: end;
    justify-content: space-between;
    h1{
        display: flex;
        align-self: center;
        justify-self: start;
        color:  map-get($colors, primary);
        font-family: $tipografia;
        font-size: 50px;
        padding-left: 20px;
    }
    div{
        display:flex;
        flex-direction: column;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            gap: 200px;
            list-style-type: none;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                width: 110px;
                height: 100%;
                margin-inline: 40px;
                background-color: white;
                border: 2px solid black;
                border-radius: 10px;
                font-size:100% ;
                transition:background-color 0.3s;
                &:hover{
                    background-color: map-get($colors, primary);
                    
                }
            }
            a{
                text-decoration: none;
                color: black;
            }
        }
        img{
            width: 160px;
            height: 90%;
        }
    }
    .profilePicture{
        align-self:start;
        padding: 10px;
        border-radius: 0% 0% 0% 60%;    
        border: 2px solid black;
        transition:background-color 0.3s;
        &:hover {
            background-color: map-get($colors, primary);
        }
        img{
            width: 50px;
        }
    }
}









