

.oferta{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: gray;
    display: flex;
    section{
        width: 50%;
        color: map-get($colors, primary );
        padding: 20px;
        font-family: $tipografia;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        .ofertaTitulo{
            align-self: center;
        }
    }
    article{
        width: 50%;
        display: flex;
        justify-content: space-between;
        div {
            display: flex;          
            .crashK{
                width: 100%;
                height: 70%;
                align-self: end;
            }   
            .platillo{
                width: 100%;
                height: 70%;

            }
            .platillosZildjean{
                width: 100%;
                height: 70%;
            }
        }
    }
}



