

main{
    display: flex;
    padding: 50px;
    form{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;
        article{
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 20px;
            div{
                display: flex;
                flex-direction: row;
            }
        }
        button{
            @include flexCenter;
            background-color: map-get($colors, tertiary );
            font-size: 30px;
            height: 10%;
            width: 50px;
            align-self: end;
            margin-right: 125px;
        }
        h3 {
            font-family: $tipografia;
        }
    }
}

.middle{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        font-family: $tipografia;
    }
}



