@media (max-width:1766px){
    header div ul{
        gap: 70px;
    }
    .oferta article div {
        width: 250px;
    }   
}

@media (max-width: 1376px){
    header h1{
        font-size: 40px;  
    }
    header div ul{
        gap: 0px;
    }
    .oferta {
    section h2{
        font-size: 40px;
    }
    article div {
        width: 200px;
        .crashK{
            width: 90%;
        }
        .platillosZildjean{
            width: 90%;
        }
        .platillo{
            width: 90%;
        }
    }       
    }
    
}

@media (max-width:1103px){
    
    header div ul li{
        width: 66px;
        font-size: 60%;
    }
    .cards{
        gap: 40px;
    }
    .oferta section h2{
        font-size: 25px;
    }
    .oferta {
        height: 150px;
        section{
            width: 30%;
        }
        article{
        width: 70% ;
        } div {
        .crashK{
            width: 60%;
            height: 60%;
        }
        .platillosZildjean{
            width: 60%;
            height: 60%;

        }
        .platillo{
            width: 60%;
            height: 60%;

        }
    }    
}    
} 

@media (max-width: 927px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .contenedorCategories section div h4{
        font-size: 15px;
    }
    header .profilePicture{
        align-self: center;
        border-radius: 0% 0% 60% 60%;   
        margin: 5px;
    }
    header div ul li{
        width: 110px;
        font-size: 100%;
    }
    .contacto{
        article{
            justify-content: center;
            img{
            width: 255px;
            height: 255px;
        }
    }
        
    }
    .contacto form{
        margin-top: 50px;
        align-items: end;
        padding: 0px;
    }
    .oferta {
        section{
            width: 100%;
            padding-top: 20px;
            h2{
                font-size: 40px;
            }
        }
        article{
            display: none;
        }
    }
}

@media (max-width: 768px){
    header div ul{
        flex-direction: column;
        gap: 10px;
    }
    footer{
        flex-direction: column;
        gap: 30px;
    }
    .contenidoPerfil{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    footer .contenedorRedes{
        gap: 20px;
        justify-content: center;
    }
    footer .contenedorMarcas .zidjean{
        width: 80px;
        height: 35px;
    }
    footer .contenedorMarcas .evans{
        width: 85px;
        height: 25px;
    }
    footer .contenedorMarcas .remo{
        width: 60px;
        height: 25px;
    }
    footer .contenedorMarcas .vicfirth{
        width: 50px;
        height: 30px;
    }
    .contenedorTextos{
        flex-direction: column;
    }
    .contenedorTextos section{
        width: 100%;
    }
    .contenedorTextos article{
        width: 100%;
    }
    .middle{
        width: 100%;
    }
    .login{
        width: 100%;
    }
    .contenedorCategories section{
        grid-template-columns: auto auto;
    }
    .contenedorCategories section div h4{
        padding: 0px;
        font-size: 10px;
    }
    .contacto{
        align-items: center;
        justify-content: center;
        form{
            justify-self: center;
            align-self: center;
                div{
                    font-size: 15px;
                    input{
                        width: 220px;
                    }
                    textarea{
                        width: 220px;
                    }
                }
        }
        article{
            display: none;
        }
    }
    .oferta {
        height: 100px;
    section h2{
            font-size: 30px;
            }
        }
}

@media (max-width:386px){
    .contenedorCategories section{
        grid-template-columns:  auto;
    }
    footer .contenedorMarcas{
        width: 100%;
        justify-content: space-between;
    }
    .contacto form{
        div{
            textarea{
            width: 170px;
            }  
            input{
            width: 170px;
            }
        } 
    }
    .oferta {
        section h2{
                font-size: 25px;
                }
            }
}